body {
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}

.main {
	display: block;
	align-items: center;
}

.wrapper {
	display: flex;
	justify-content: space-evenly;
}

div {
	text-align: center;
	padding: 10px;
}

.btn {
	background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255) ;
	width: 200px;
	height: 40px;
	border-radius: 50px;
	font-size: 16px;
}

img {
	border-radius: 10px;
	border: 1px solid gray;
}



.card-image:hover {
	border: 3px solid #413f3f;
}

#result {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}